body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: rgb(190, 210, 218);
}

h1 {
    color: #333;
}

input, select {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

button.delete-button {
    background-color: red;
    color: white;
    border: none;
}

button.edit-button {
    background-color: rgb(66, 66, 124);
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

button[disabled] {
    cursor: not-allowed;
}

#jogiListContainer {
    margin-top: 20px;
    justify-content: center;
}

#jogiList {
    list-style: none;
    padding: 0;
    width: 20%;
    margin: 0 auto;
}

#jogiList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

#jogiList li .button-container {
    display: flex;
    gap: 10px;
}

.bet-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bet-section input, .bet-section button {
    margin-left: 10px;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#resultSection {
    margin-top: 20px;
}

#betDropdownContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: calc(100% - 40px);
    max-width: 400px;
    margin: 0 auto;
}

#betDropdown {
    width: 100%;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#resultsTable {
    margin-top: 20px;
}

#resetScoresButton {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#userBetActions div {
    margin-top: 10px;
}

#userBetActions button {
    margin: 0 20px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
